.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;

}

 button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
} 

 button:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body{
  background-image: url(https://img.freepik.com/free-photo/3d-render-modern-network-communications-background-with-plexus-design_1048-15596.jpg?size=626&ext=jpg&ga=GA1.1.797586703.1677781435&semt=ais);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}